.yourName {
  font-weight: 600;
  display: inline-block;
  min-width: 107px;
  cursor: pointer;
}
.blog1,
.yourName {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
}
.blog {
  cursor: pointer;
}
.blog,
.projects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-5xs);
}
.newsletter1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.iconoutlinesun {
  border-radius: var(--br-xl);
}
.iconoutlinesun,
.moonIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconoutlinemoon {
  border-radius: var(--br-xl);
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.iconoutlinemoon,
.menu {
  align-items: flex-start;
  justify-content: flex-start;
}
.menu,
.navbar,
.toggleMode {
  display: flex;
  flex-direction: row;
}
.toggleMode {
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-10xl);
  background-color: var(--white);
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.menu,
.navbar {
  gap: var(--gap-sm);
  max-width: 100%;
}
.navbar {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.theBlog {
  position: relative;
}
.container {
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-224xl-8);
}
.contentWrapper,
.header,
.main {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.header {
  align-self: stretch;
  background-color: var(--color-gray-200);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-93xl);
  box-sizing: border-box;
  gap: 10px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--text-xl-normal-size);
  color: var(--white);
  font-family: var(--text-md-medium);
}
.contentWrapper,
.main {
  flex-direction: row;
}
.contentWrapper {
  width: 1152px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.main {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.a,
.twitter {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
}
.a {
  display: inline-block;
  min-width: 75px;
}
.twitter {
  min-width: 68px;
}
.email,
.linkedin,
.twitter {
  display: inline-block;
}
.linkedin {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  min-width: 81px;
}
.email {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  min-width: 52px;
}
.addToFeedly,
.email,
.rssFeed {
  position: relative;
  line-height: 24px;
}
.rssFeed {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  min-width: 88px;
}
.addToFeedly {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.container1,
.menu1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.menu1 {
  justify-content: flex-start;
}
.container1 {
  justify-content: center;
  padding: 0 var(--padding-635xl) 0 0;
  box-sizing: border-box;
}
.blogDetailBlog,
.footer {
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
}
.footer {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-xl-normal-size);
  color: var(--white);
  font-family: var(--text-md-medium);
}
.blogDetailBlog {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .container1 {
    flex-wrap: wrap;
    padding-right: var(--padding-308xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .contentWrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }
  .header {
    padding-left: var(--padding-37xl);
    padding-right: var(--padding-37xl);
    box-sizing: border-box;
  }
  .contentWrapper {
    gap: var(--gap-base);
  }
  .menu1 {
    flex-wrap: wrap;
  }
  .container1 {
    padding-right: var(--padding-144xl);
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .a,
  .addToFeedly,
  .email,
  .linkedin,
  .rssFeed,
  .twitter {
    font-size: var(--text-md-medium-size);
    line-height: 19px;
  }
  .container1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-base);
  }
}
