.yourName {
  width: 132px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.blog1,
.yourName {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
}
.blog {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-5xs)
    var(--padding-5xs);
}
.newsletter1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.iconoutlinesun {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconoutlinemoon {
  border-radius: var(--br-xl);
  background-color: var(--white);
}
.iconoutlinemoon,
.menu,
.navbar,
.toggleMode {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.toggleMode {
  border-radius: var(--br-10xl);
  background-color: var(--color-gray-200);
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
  cursor: pointer;
}
.menu,
.navbar {
  gap: var(--gap-sm);
  max-width: 100%;
}
.navbar {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-xl-normal-size);
  color: var(--color-gray-100);
  font-family: var(--text-md-medium);
}
.theBlog {
  position: relative;
  white-space: nowrap;
}
.container {
  border-top: 1px solid var(--color-gray-300);
  border-bottom: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.header {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-93xl);
  box-sizing: border-box;
  gap: 50px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-224xl-8);
  color: var(--color-gray-100);
  font-family: var(--text-md-medium);
}
.heading,
.subheading {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.heading {
  font-size: var(--display-lg-semibold-size);
  letter-spacing: -0.02em;
  line-height: 60px;
  color: var(--gray-900);
}
.headingAndSubheading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.supportingText {
  position: relative;
  font-size: var(--text-xl-normal-size);
  line-height: 30px;
  color: var(--color-slategray);
  display: inline-block;
  max-width: 100%;
}
.headingAndSupportingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.label {
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.label,
.mailIcon,
.text {
  position: relative;
}
.mailIcon {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  line-height: 24px;
}
.content1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.helpIcon {
  height: 16px;
  width: 16px;
  position: relative;
  display: none;
}
.input,
.inputWithLabel {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input {
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-mini);
  gap: var(--gap-5xs);
  font-size: var(--text-md-medium-size);
  color: var(--color-slategray);
}
.inputWithLabel {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.privacyPolicy {
  text-decoration: underline;
}
.hintText {
  position: relative;
  line-height: 20px;
  color: var(--color-slategray);
}
.inputField,
.inputFieldBase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inputFieldBase {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.inputField {
  flex: 1;
  min-width: 234px;
}
.text1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.button,
.buttonBase {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.buttonBase {
  box-shadow: var(--shadow-xs);
  background-color: var(--primary-600);
  border: 1px solid var(--primary-600);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lgi);
}
.button {
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-md-medium-size);
  color: var(--white);
}
.container1,
.content,
.emailCapture {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.emailCapture {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--gray-700);
}
.container1,
.content {
  flex-direction: column;
  align-items: center;
}
.content {
  align-self: stretch;
  gap: var(--gap-21xl);
}
.container1 {
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.headerSection,
.lightModeInner {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.headerSection {
  background-color: var(--white);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-77xl) 0;
}
.lightModeInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-11xl);
}
.div,
.linkedin,
.twitter {
  position: relative;
  line-height: 24px;
}
.div {
  display: inline-block;
  min-width: 75px;
}
.linkedin,
.twitter {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.twitter {
  display: inline-block;
  min-width: 68px;
}
.linkedin {
  min-width: 81px;
}
.email,
.linkedin,
.rssFeed {
  display: inline-block;
}
.email {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  min-width: 52px;
}
.rssFeed {
  min-width: 88px;
}
.addToFeedly,
.rssFeed {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
}
.container2,
.menu1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.container2 {
  justify-content: center;
  padding: 0 var(--padding-635xl) 0 0;
  box-sizing: border-box;
}
.footer,
.lightMode {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(--text-md-medium);
}
.footer {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-xl-normal-size);
  color: var(--color-gray-100);
}
.lightMode {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--text-md-medium-size);
  color: var(--primary-600);
}
@media screen and (max-width: 1200px) {
  .container {
    gap: var(--gap-111xl);
  }
  .container2 {
    flex-wrap: wrap;
    padding-right: var(--padding-308xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .theBlog {
    font-size: var(--font-size-79xl);
  }
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 48px;
  }
}
@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }
  .container {
    gap: var(--gap-46xl);
  }
  .header {
    gap: var(--gap-6xl);
    padding-left: var(--padding-37xl);
    padding-right: var(--padding-37xl);
    box-sizing: border-box;
  }
  .menu1 {
    flex-wrap: wrap;
  }
  .container2 {
    padding-right: var(--padding-144xl);
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .theBlog {
    font-size: var(--font-size-42xl);
  }
  .container {
    gap: var(--gap-13xl);
  }
  .header {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 36px;
  }
  .supportingText {
    font-size: var(--text-md-medium-size);
    line-height: 24px;
  }
  .addToFeedly,
  .div,
  .email,
  .linkedin,
  .rssFeed,
  .twitter {
    font-size: var(--text-md-medium-size);
    line-height: 19px;
  }
  .container2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-base);
  }
}
