.imageIcon {
  border: 0;
  background-color: transparent;
  height: 240px;
  width: auto;
  outline: 0;
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.author,
.heading {
  position: relative;
  font-weight: 600;
}
.author {
  align-self: stretch;
  line-height: 20px;
}
.heading {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 32px;
  font-family: inherit;
  display: inline-block;
  min-width: 189px;
}
.iconWrap {
  margin: 0;
  height: 28px;
  width: 24px;
}
.headingAndIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--display-xs-semibold-size);
  color: var(--white);
}
.supportingText {
  position: relative;
  font-size: var(--text-md-medium-size);
  line-height: 24px;
  color: var(--color-silver);
}
.headingAndText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.text {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge,
.badgeBase {
  display: flex;
  flex-direction: row;
}
.badgeBase {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-ghostwhite-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: lighten;
}
.badgeBase1 {
  border-radius: var(--br-base);
  background-color: var(--color-ghostwhite-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge1,
.badgeBase1,
.badgeBase2 {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.badge1 {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: lighten;
  min-width: 70px;
  color: var(--color-darkslateblue);
}
.badgeBase2 {
  border-radius: var(--br-base);
  background-color: var(--pink-50);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge2,
.blogPostCard,
.categories,
.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.badge2 {
  flex: 1;
  flex-direction: row;
  mix-blend-mode: lighten;
  min-width: 70px;
  color: var(--pink-700);
}
.blogPostCard,
.categories,
.content {
  align-self: stretch;
}
.categories {
  flex-direction: row;
  padding: 0 var(--padding-mid) 0 0;
  gap: var(--gap-5xs);
  text-align: center;
}
.blogPostCard,
.content {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.blogPostCard {
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--text-sm-medium-size);
  color: var(--color-slateblue);
  font-family: var(--text-md-medium);
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .categories,
  .headingAndIcon {
    flex-wrap: wrap;
  }
  .blogPostCard {
    gap: var(--gap-base);
  }
}
