.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.imageIcon {
  height: 200px;
  width: 320px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.author,
.heading1 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.heading1 {
  line-height: 28px;
}
.supportingText {
  position: relative;
  font-size: var(--text-md-medium-size);
  line-height: 24px;
  color: var(--color-silver);
}
.headingAndText,
.headingAndText1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headingAndText1 {
  gap: var(--gap-5xs);
  font-size: var(--text-lg-semibold-size);
  color: var(--white);
}
.headingAndText {
  gap: var(--gap-xs);
}
.text {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 48px;
}
.badge,
.badgeBase {
  display: flex;
  flex-direction: row;
}
.badgeBase {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-aliceblue-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: lighten;
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge1,
.badgeBase1 {
  flex: 1;
  flex-direction: row;
}
.badgeBase1 {
  border-radius: var(--br-base);
  background-color: var(--pink-50);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge1 {
  mix-blend-mode: lighten;
  min-width: 54px;
  color: var(--pink-700);
}
.badge1,
.categories,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-71xl) 0 0;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--color-steelblue);
}
.content1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 161px;
}
.badgeBase2,
.blogPostCard {
  display: flex;
  flex-direction: row;
}
.blogPostCard {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.badgeBase2 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-honeydew);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.categories1,
.column {
  display: flex;
  align-items: flex-start;
}
.categories1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-71xl) 0 0;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--color-seagreen);
}
.column {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-13xl);
  min-width: 385px;
  max-width: 100%;
}
.container,
.content,
.section {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--text-sm-medium-size);
  color: var(--color-slateblue);
}
.container,
.section {
  flex-direction: column;
  box-sizing: border-box;
}
.container {
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-13xl);
}
.section {
  align-items: center;
  padding: var(--padding-11xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--display-xs-semibold-size);
  color: var(--white);
  font-family: var(--text-md-medium);
}
@media screen and (max-width: 750px) {
  .imageIcon {
    flex: 1;
  }
  .blogPostCard {
    flex-wrap: wrap;
  }
  .column {
    min-width: 100%;
  }
  .column,
  .container,
  .content {
    gap: var(--gap-base);
  }
  .section {
    gap: var(--gap-13xl);
    padding: var(--padding-xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .categories,
  .categories1 {
    flex-wrap: wrap;
  }
  .section {
    gap: var(--gap-base);
  }
}
