.heading,
.imageIcon {
  align-self: stretch;
  position: relative;
}
.heading {
  margin: 0;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.imageIcon {
  height: 228px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.author,
.heading1 {
  position: relative;
  font-weight: 600;
}
.author {
  align-self: stretch;
  line-height: 20px;
}
.heading1 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 32px;
  font-family: inherit;
  display: inline-block;
  min-width: 225px;
  max-width: 100%;
}
.arrowUpRightIcon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.headingAndIcon,
.iconWrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconWrap {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.headingAndIcon {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--display-xs-semibold-size);
  color: var(--color-gray-100);
}
.supportingText {
  position: relative;
  font-size: var(--text-md-medium-size);
  line-height: 24px;
  color: var(--color-slategray);
}
.headingAndText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.text {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 48px;
}
.badge,
.badgeBase {
  display: flex;
  flex-direction: row;
}
.badgeBase {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-ghostwhite-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: multiply;
}
.nestedBadge {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
}
.badge1,
.badgeBase1 {
  display: flex;
  flex-direction: row;
}
.badgeBase1 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-aliceblue-200);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge1 {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: multiply;
  color: var(--color-darkblue);
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge2,
.badgeBase2 {
  flex: 1;
  flex-direction: row;
}
.badgeBase2 {
  border-radius: var(--br-base);
  background-color: var(--pink-50);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge2 {
  mix-blend-mode: multiply;
  min-width: 69px;
  color: var(--pink-700);
}
.badge2,
.blogPostCard,
.categories,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-301xl) 0 0;
  gap: var(--gap-5xs);
  text-align: center;
}
.blogPostCard,
.content1 {
  flex-direction: column;
  max-width: 100%;
}
.content1 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.blogPostCard {
  flex: 1;
  gap: var(--gap-13xl);
  min-width: 385px;
}
.imageIcon1 {
  height: 200px;
  width: 320px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading2 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.headingAndText1,
.headingAndText2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headingAndText2 {
  gap: var(--gap-5xs);
  font-size: var(--text-lg-semibold-size);
  color: var(--color-gray-100);
}
.headingAndText1 {
  gap: var(--gap-xs);
}
.badge4,
.badgeBase3 {
  flex: 1;
  flex-direction: row;
}
.badgeBase3 {
  border-radius: var(--br-base);
  background-color: var(--color-aliceblue-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge4 {
  mix-blend-mode: multiply;
  min-width: 54px;
  color: var(--pink-700);
}
.badge4,
.categories1,
.content2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-71xl) 0 0;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--color-steelblue);
}
.content2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 161px;
}
.badgeBase5,
.blogPostCard1 {
  display: flex;
  flex-direction: row;
}
.blogPostCard1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.badgeBase5 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-honeydew);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.categories2,
.column {
  display: flex;
  align-items: flex-start;
}
.categories2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-71xl) 0 0;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--color-seagreen);
}
.column {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-13xl);
  min-width: 385px;
  max-width: 100%;
}
.container,
.content,
.section {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--text-sm-medium-size);
  color: var(--color-slateblue);
}
.container,
.section {
  flex-direction: column;
  box-sizing: border-box;
}
.container {
  align-items: flex-start;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-13xl);
}
.section {
  background-color: var(--white);
  align-items: center;
  padding: var(--padding-11xl) var(--padding-61xl);
  text-align: left;
  font-size: var(--display-xs-semibold-size);
  color: var(--color-gray-100);
  font-family: var(--text-md-medium);
}
@media screen and (max-width: 750px) {
  .categories,
  .headingAndIcon {
    flex-wrap: wrap;
  }
  .categories {
    padding-right: var(--padding-141xl);
    box-sizing: border-box;
  }
  .blogPostCard {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .imageIcon1 {
    flex: 1;
  }
  .blogPostCard1 {
    flex-wrap: wrap;
  }
  .column {
    min-width: 100%;
  }
  .column,
  .container,
  .content {
    gap: var(--gap-base);
  }
  .section {
    gap: var(--gap-13xl);
    padding: var(--padding-xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading,
  .heading1 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .categories {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .categories1,
  .categories2 {
    flex-wrap: wrap;
  }
  .section {
    gap: var(--gap-base);
  }
}
